---
import BaseHead, { type BaseHeadProps } from "@/components/BaseHead";

/**
 * Properties to pass to the {@linkcode MainLayout} layout.
 */
interface Props extends BaseHeadProps {}

export type { Props as BaseLayoutProps };

const { ...props } = Astro.props;
---

<html lang="en-US" prefix="og: https://ogp.me/ns#">
	<BaseHead {...props}>
		<slot name="pre-head" slot="pre" />
		<meta name="theme-color" content="#11111e" slot="head" />
		<slot name="head" />
	</BaseHead>
	<body
		bg="seasalt dark:richblack"
		c="ultraviolet dark:isabelline"
		flex="~ col items-center justify-start nowrap"
		h="fit min-vh"
		overflow="x-hidden"
	>
		{
			Astro.slots.has("header") && (
				<header
					b="b-(1 solid) ultraviolet/50"
					backdrop="blur-4"
					bg="seasalt/70 dark:richblack/85"
					flex="~ gap-4 items-center justify-start row wrap"
					pos="t-0"
					sticky="~"
					left="0"
					w="full"
				>
					<slot name="header" />
				</header>
			)
		}
		<main flex="~ col grow-1 items-center justify-start nowrap" w="full"><slot /></main>
		{
			Astro.slots.has("footer") && (
				<footer
					b="t-(1 solid) ultraviolet/50"
					flex="~ gap-4 items-center justify-center row wrap"
					w="full"
				>
					<slot name="footer" />
				</footer>
			)
		}
	</body>{/* for idyllic formatting --> */}<Fragment></Fragment>
</html>
