---
import BaseHead, { type BaseHeadProps } from "@/components/BaseHead";

/**
 * Properties to pass to the {@linkcode MainLayout} layout.
 */
interface Props extends BaseHeadProps {}

export type { Props as BaseLayoutProps };

const { ...props } = Astro.props;
---

<html lang="en-US" prefix="og: https://ogp.me/ns#">
	<BaseHead {...props}>
		<slot name="pre-head" slot="pre" />
		<slot name="head" />
	</BaseHead>
	<body flex="~ col items-center justify-start nowrap" overflow="x-hidden">
		{
			Astro.slots.has("header") && (
				<header flex="~ gap-4 items-center justify-start row wrap" w="full">
					<slot name="header" />
				</header>
			)
		}
		<main flex="~ col grow-1 items-center justify-start nowrap" w="full"><slot /></main>
		{
			Astro.slots.has("footer") && (
				<footer flex="~ gap-4 items-center justify-center row wrap" w="full">
					<slot name="footer" />
				</footer>
			)
		}
	</body>{/* for idyllic formatting --> */}<Fragment></Fragment>
</html>
