---
import BaseHead, { type BaseHeadProps } from "@/components/seo/BaseHead";

/**
 * Properties to pass to the {@linkcode BaseLayout} layout.
 */
interface Props extends BaseHeadProps {}

export type { Props as BaseLayoutProps };

const { ...props } = Astro.props;
---

<html lang="en-US" prefix="og: https://ogp.me/ns#">
	<BaseHead {...props}>
		<slot name="pre-head" slot="pre" />
		<meta name="theme-color" content="#11111e" />
		<slot name="head" />
	</BaseHead>
	<body
		c="bg-seasalt ultraviolet dark:(bg-richblack isabelline)"
		flex="~ col center-start"
		overflow="x-clip"
	>
		{
			Astro.slots.has("header") && (
				<header
					b="b-(2 dashed) ultraviolet/50"
					backdrop="blur-4"
					c="bg-seasalt/70 dark:bg-richblack/85"
					flex="~ gap-4 row center-start"
					overflow="x-auto"
					pos="l-0 t-0"
					size="w-full"
					sticky="~"
				>
					<slot name="header" />
				</header>
			)
		}
		<main flex="~ col grow-1 center-start" size="w-full"><slot /></main>
		{
			Astro.slots.has("footer") && (
				<footer b="t-(2 dashed) ultraviolet/50" flex="~ gap-4 center row" size="w-full">
					<slot name="footer" />
				</footer>
			)
		}
	</body>{/* for idyllic formatting */}
</html>
