---
import type { SocialsItemProps } from "@/components/socials/SocialsListItem";
import SocialsItem from "@/components/socials/SocialsListItem";

/**
 * Properties for the {@linkcode Socials} component.
 */
interface Props {
	/**
	 * A list of social items to render.
	 */
	items: SocialsItemProps[];
}

export type { Props as SocialsProps };

const { items } = Astro.props;
---

<div flex="~ gap-2 items-center justify-center row wrap">
	{items.map((item) => <SocialsItem {...item} />)}
</div>
