---
import type { BaseNavItemProps } from "@/components/nav/BaseNavItem";
import BaseNavItem from "@/components/nav/BaseNavItem";

/**
 * Properties to pass to the {@linkcode BaseNav} component.
 */
interface Props {
	/**
	 * A list of properties to pass to new {@linkcode BaseNavItem} components.
	 */
	links?: BaseNavItemProps[];
}

export type { Props as BaseNavProps };

const { links = DotDev.nav_links } = Astro.props;
---

<nav flex="~ gap-4 grow-1 items-center justify-start nowrap row" p="4">
	<slot name="pre" />
	{
		links.map((props, i, { length: l }) => (
			<Fragment>
				<BaseNavItem {...props} />
				{i < l - 1 && <div bg="ultraviolet/50" h="6" w="1px" />}
			</Fragment>
		))
	}
	<slot />
</nav>
