---
/**
 * Properties to pass to the {@linkcode BaseNavItem} component.
 */
interface Props {
	/**
	 * The name of the navigation element.
	 */
	name: string;

	/**
	 * The URI reference to the same or cross-origin resource.
	 */
	link: string;
}

export type { Props as BaseNavItemProps };

const { name, link } = Astro.props;

const url = new URL(/^https?:\/\//.test(link) ? link : `${Astro.url.origin}${link}`);
const props =
	url.origin != Astro.url.origin
		? { target: "_blank", rel: "noreferrer" }
		: { "data-astro-preload": "" };

const { 0: first, 1: second } = name.split("/");
---

<a
	b="1 rd-1 solid transparent hover:ultraviolet/50"
	bg="hover:ultraviolet/10"
	c="unset visited:unset"
	decoration="none"
	href={link}
	p="x-4 y-2"
	t="[background-color,border-color]-125-ease"
	text="center"
	w="min-16"
	{...props}>{first && <span c="paledogwood">{first}/</span>}{second ?? first}</a
>
