---
import MainLayout from "@/layouts/MainLayout";
import { getEntry, render } from "astro:content";

const {
	entity: { pronouns },
} = DotDev;

const about = await getEntry("entity", "about");
const { Content } = await render(about);
---

<MainLayout>
	<article
		flex="~ center-start col-nowrap gap-4 grow-1"
		m="[&>*]:0"
		p="x-[clamp(1rem,3rem,5.5vw)] y-12"
		size="w-min-full"
	>
		<h1 text-align="center">About {pronouns.object == "it" ? "It" : "Me"}</h1>
		<Content />
	</article>
</MainLayout>
