---
import MainLayout from "@/layouts/MainLayout";
---

<MainLayout
	title="sepruko.dev / ~"
	description="Nat Sepruko's personal website."
	keywords={["nat", "sepruko", "webdev", "webdevelopment", "web development", "sepruko.dev"]}
	>Hello, I'm Nat Sepruko! <span text="size-0.8em">(you can just call me Nat)</span></MainLayout
>
