---
import MainLayout from "@/layouts/MainLayout";

const {
	entity,
	entity: { name, full_name },
} = DotDev;

const description = `${full_name}'s personal website.'`;

const pronouns = [
	entity.pronouns.reference,
	entity.pronouns.object,
	entity.pronouns.object_self,
	entity.pronouns.possessive,
	entity.pronouns.associative,
];
---

<MainLayout
	description={description}
	keywords={[
		...full_name.toLowerCase().split(" "),
		"dev",
		"development",
		"web",
		"webdev",
		"webdevelopment",
		"web development",
		Astro.site!.hostname,
	]}
	og={{ title: Astro.site!.hostname, description }}
>
	<section
		flex="~ col-nowrap grow-1 start-center portrait:center"
		id="hero"
		p="x-[clamp(2rem,3rem,5.5vw)] y-12"
		size="full"
		text="left portrait:center"
	>
		<div
			animate="delay-150 duration-850 forwards name-fade-in-up"
			flex="~ col-nowrap gap-4 start-center portrait:center"
			op="0"
		>
			<h1 m="0" text="size-[clamp(2rem,4rem,8vw)]"
				>Welcome,<br />I'm {full_name}<span animate="caret">_</span></h1
			>
			<p
				animate="delay-500 duration-850 forwards name-fade-in-up"
				c="ultraviolet/65 dark:isabelline/65"
				m="0"
				op="0"
				>Psst... you can just call {entity.pronouns.object == "it" ? "it" : "me"}
				{name}.<br /><span c="ultraviolet/42 dark:isabelline/42" text="size-0.8em"
					>({pronouns.join("/")})</span
				></p
			>
		</div>
	</section>
</MainLayout>
