---
import Copyright from "@/components/copyright/Copyright";
import Socials from "@/components/socials/SocialsList";

const { copyright, entity, socials } = DotDev;
---

<div flex="~ center-between gap-4 grow-1 row-wrap portrait:col-wrap" p="2 portrait:4">
	<slot name="pre" />
	<Copyright holder={entity} {...copyright} />
	{socials && <Socials items={socials} />}
	<slot />
</div>
