---
import Copyright from "@/components/footer/Copyright";
import Socials from "@/components/footer/Socials";

const { copyright, entity, socials } = DotDev;
---

<div flex="~ grow-1 items-center justify-between row wrap">
	<slot name="pre" />
	<Copyright holder={entity} {...copyright} />
	{socials && <Socials items={socials} />}
	<slot />
</div>
